<link rel="stylesheet" href="/stylesheets/direc.css">
<link rel="stylesheet" href="/stylesheets/boton2.css">
<link rel="stylesheet" href="/stylesheets/boton-Sig.css">
<body>

  <div class="grid-layout">

    <div class="box-header">
      <header>

          <section class="textos-header">
              <h1>Directivas</h1>
          </section>
          <div class="wave"  style="height: 75px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none"
          style="height: 100%; width: 100%;"><path d="M0.00,49.98 C233.35,227.47 236.73,-41.92 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: #f5cb8dab;"></path></svg></div>
      </header>

    </div>
    <div class="box-boton">
      <div class="d-boton">
        <a class="boton" href="#d-BASICAS"><span>Directivas Basicas</span></a>
        <a class="boton" href="#d-FROM"><span>Directiva FROM</span></a>
        <a class="boton" href="#d-LABEL"><span>Directiva LABEL</span></a>
        <a class="boton" href="#d-RUN"><span>Directiva RUN</span></a>
        <a class="boton" href="#d-CMD"><span>Directiva CMD</span></a>
        <a class="boton" href="#d-ENTRYPOINT"><span>Directiva ENTRYPOINT</span></a>
        <a class="boton" href="#d-ADD"><span>Directiva ADD</span></a>
        <a class="boton" href="#d-COPY"><span>Directiva COPY</span></a>
        <a class="boton" href="#d-WORKDIR"><span>Directiva WORKDIR</span></a>
      </div>

    </div>
    <div class="contenido">
      <h2 id="d-BASICAS" style="background-color:white; color:white">""</h2>
      <h2>Directivas Basicas</h2> <br>
        <p>Un archivo Dockerfile es un archivo en formato de texto que contiene instrucciones dirigidas al Docker Daemon para la construcción personalizada de una nueva imagen, una imagen
          que cubra las necesidades específicas para un desarrollador. A estos comandos también se
          les conoce como directivas docker. La siguiente es la sintaxis para la escritura de un
          comando Docker.
        </p>
        <div class="Basicas-foto">
            <img src="/images/directivas1.png" alt="directivas" width="600" height="50"  align="center" style="margin-bottom: 20px">
        </div>
        <p>Un documento Dockerfile también puede ser documentado vía comentarios de desarrollador al estilo UNIX/Linux, es decir con el carácter “#”, en el siguiente ejemplo se explica.
        </p>
        <div class="foto_2" >
          <img src="/images/directivas2.png" alt="directivas2" width="670" height="150" align="center" style="margin-bottom: 20px"> <br>
        </div>
        <p>Otro concepto importante es que la escritura de las directivas no distingue entre mayúsculas
          y minúsculas se recomienda por buena práctica escribirla en mayúsculas. Esto mejorará el
          mantenimiento de tus archivos Dockerfile. <br>
          Una vez que se expusieron los conceptos básicos relacionados con la escritura de archivos
          Dockerfile, iniciemos con la explicación de dos directivas básicas, la directiva FROM y la
          directiva LABEL.
        </p>
      <h2 id="d-FROM" style="background-color:#4d0686; color:#4d0686">""</h2>
      <h2>Directiva FROM.</h2>
        <p>Como ya se explicó, un Dockerfile está orientado a crear imágenes personalizadas
            basándose en plantillas existentes, para ello se usa la directiva FROM la cual especifica
            cuál será la imagen base desde la cual se creará la nueva. Ahora, normalmente esta
            imagen base es tomada del Docker registry oficial(hub.docker.com), sin embargo puedes
            usar una imagen de tu propiedad almacenada en un registro local o el de tu organización.
            La sintaxis para esta directiva que incluye la especificación del tag es: FROM <'nombre de la
            imagen base'>:<'tag'>, si el tag no es establecido por defecto se establece el valor latest.
        </p>
      <h2 id="d-LABEL" style="background-color:#4d0686; color:#4d0686">""</h2>
      <h2>Directiva LABEL</h2> <br>
          <p>Esta directiva está orientada a agregar metadatos a la imagen con el objetivo de organizar
            las imágenes. Estos metadatos serán almacenados en la imagen por medio de un par
            llave/valor con la sintaxis LABEL <'llave'>=<'valor'>. Por ejemplo si queremos agregar el
            metadato para calificar la versión de la imagen se haría de la forma: LABEL version=0.0.1.
          </p>
          <div class="LABEL-foto">
          <h5>Ejemplo LABEL</h5>
            <img src="/images/directivas3.png" alt="directivas3" width="670" height="350" align="center" style="margin-bottom: 60px">
          </div>
      <h2 id="d-RUN" style="background-color:#4d0686; color:#4d0686">""</h2>
      <h2>Directiva RUN</h2>
          <p> La instrucción RUN especifica los comandos que se ejecutarán y se capturarán en la nueva imagen del contenedor. Estos comandos pueden incluir elementos como la instalación de
              software, la creación de archivos y directorios y la creación de la configuración del entorno.
          </p>
          <div class="RUN-foto">
          <h5>Ejemplo RUN</h5>
              <img src="/images/directivas4.png" alt="directivas4" width="670" height="250" align="center" style="margin-bottom: 50px">
          </div>
      <h2 id="d-CMD" style="background-color:#4d0686; color:#4d0686">""</h2>
      <h2>Directiva CMD</h2>
          <p>La instrucción CMD establece que el comando predeterminado se ejecutará al implementar
          una instancia de la imagen del contenedor. Por ejemplo, si el contenedor va a hospedar un
          servidor web NGINX, CMD puede incluir instrucciones para iniciar el servidor web con un comando como nginx.exe.
          Si se especifican varias instrucciones CMD en un archivo Dockerfile, solo se evalúa la última.
          </p>
          <div class="CMD-foto">
          <h5>Ejemplo CMD</h5>
            <img src="/images/directivas5.png" alt="directivas5" width="670" height="150" align="center"  style="margin-bottom: 50px">
          </div>
      <h2 id="d-ENTRYPOINT" style="background-color:#4d0686; color:#4d0686">""</h2>
      <h2>Directiva ENTRYPOINT</h2> <br>
          <p>Se utiliza para ejecutar un comando por defecto al correr un contenedor, pero no está pensado para que se le pasen argumentos al correr el contenedor. La idea es utilizar
             entrypoint como si fuera un ejecutable y ejecute un comando por defecto al iniciar el
             contendor.
           </p>
           <div class="ENTRYPOINT-foto">
           <h5>Ejemplo ENTRYPOINT</h5>
                <img src="/images/directivas6.png" alt="directivas6" width="900" height="100" align="center" style="margin-bottom: 60px"> <br>
           </div>
      <h2 id="d-ADD" style="background-color:#4d0686; color:#4d0686">""</h2>
      <h2>Directiva ADD </h2>
           <p>Su función básica es copiar los sistemas de archivos en el contenedor de destino del sistema de archivos del sistema de origen ingresando dos parámetros, el origen y el
              destino. Si la fuente es una URL, el contenido de la URL se descargará y se copiará en el contenedor.
            </p>
      <h2 id="d-COPY" style="background-color:#4d0686; color:#4d0686">""</h2>
      <h2>Directiva COPY</h2>
             <p>Copia archivos y directorios en el sistema de archivos del contenedor. Los archivos y los
                directorios deben encontrarse en una ruta de acceso relativa al archivo Dockerfile. </p>
      <h2 id="d-WORKDIR" style="background-color:#4d0686; color:#4d0686">""</h2>
      <h2>Directiva WORKDIR</h2>
              <p>Se usa para configurar el directorio de trabajo del contenedor, después de ejecutar esta
              directiva todos los comandos se ejecutarán con la ruta de trabajo establecida a la ruta
              proporcionada.</p>

        </div>
        <div class="b-1">
        <div class="c-boton">
          <a class="boton" href="/dockerfile"><span>Docker File</span></a>
        </div>
        </div>
        <div class="b-2">
          <div class="c-boton">
          <a class="boton" href="/cicloVida"><span>Ciclo de vida</span></a>
        </div>
        </div>
  </div>
</body >
