<link href="stylesheets/infostyle.css" rel="stylesheet">
<div class="info">

    <h2> Informacion del equipo </h2>

    <p class="nombre">Damián Gerardo Pérez Hernández</p>
    <p class="rol">Rol: Equipo Scrum</p>
    <p class="correo">damianhernandez76@aragon.unam.mx</p>
     <p class="nombre">Humberto Maldonado Guell</p>
    <p class="rol">Rol: Equipo Scrum</p>
    <p class="correo">Correo: humbertomaldonado25@aragon.unam.mx</p>
    <p class="nombre">Julio Ernesto González Sánchez</p>
    <p class="rol">Rol: Scrum Master</p>
    <p class="correo">Correo: juliogonzalez75@aragon.unam.mx</p>
    <p class="nombre">Leonardo Santiago García</p>
    <p class="rol">Rol: Equipo Scrum</p>
    <p class="correo">Correo: leonardosantiago94@aragon.unam.mx</p>
    <p class="nombre">Leslie Raziel Dávila Manra</p>
    <p class="rol">Rol: Product Owner</p>
    <p class="correo">Correo: lesliemanra89@aragon.unam.mx</p>
    <p class="nombre">Gabriela de Jesus Torres Elizarraras</p>
    <p class="rol">Rol: Equipo Scrum</p>
    <p class="correo">Correo: gabrielaelizarraras84@aragon.unam.mx</p>
    <p class="nombre">Esteban Hunab Ortega Chávez</p>
    <p class="rol">Rol: Equipo Scrum</p>
    <p class="correo">Correo: estebanortega316@aragon.unam.mx</p>
    <p class="nombre">Daniel Sánchez Cortés</p>
    <p class="rol">Rol: Equipo Scrum</p>
    <p class="correo">Correo: danielsanchez316@aragon.unam.mx</p>
    <p class="nombre">Miguel Angel Juárez Almaguer</p>
    <p class="rol">Rol: Equipo Scrum</p>
    <p class="correo">Correo: miguelalmaguer58@aragon.unam.mx</p>

</div>
