.d-boton{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;

  grid-column-gap: 0px;
  grid-row-gap: 10px;
  padding-left:0px;
  padding-top:10px;

}

.boton {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width:115px;
  height:50px;
  background:#4d0686;
  color: white;
  font-size: 14px;
  font-weight: 450;
  border: none;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  text-decoration: none;

}
.boton span{
  position: relative;
  z-index: 2;
  transition: .3s ease all;
  color: white;


}
.boton::after{
  content: "";
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top:50%;
  left: 50%;
  transition: .3s ease-in-out all;
  border-radius: 75px;

}
.boton:hover::after{
  transform: scale(500);
  background: #FFC371;
}

.img-boton{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;

  grid-column-gap: 10px;
  grid-row-gap: 40px;
  padding-left:20px;
  padding-top:10px;

}
