
header{
  font-family: 'Share Tech', sans-serif;
  width: 100%;
  height: 150px;
  background: #8360c3;
  background: -webkit-linear-gradient(to right, hsla(161, 61%, 46%, 0.616), hsla(261, 45%, 57%, 0.616)), url(../public/img/logo.jpeg);
  background: linear-gradient(to right, hsla(161, 61%, 46%, 0.616), hsla(261, 45%, 57%, 0.616)), url(../public/img/logo.jpeg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  border-radius: 10px;
}

header .textos-header{
  padding-top: 38px;
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  text-align: center;


}

.textos-header h1{
    font-size: 50px;
    color: #fff;

}


.wave{
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 10px;
}
.grid-layout
{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-row-gap: 18px;
  grid-column-gap: 18px;


  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;

  border-radius: 5px;


}

.box-header{
  grid-column: 1/4;
  background-color: none;
}

.box-boton{
  grid-column: 1/4;
  background-color: none;
  padding-bottom: 20px;
}

.contenido{
  font-family: 'Share Tech', sans-serif;
  grid-column: 1/4;
  text-align: justify;
  background: white;
  border-radius: 10px;
}
.Basicas{
  height: 250px;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  margin-top: 3%;
  border: #716a42 4px solid;
}
.Basicas-foto{

  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.Basicas_doc{
  height: 150px;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  border: #716a42 4px solid;
}

.foto_2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.concepto{
  height: 150px;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  border: #716a42 4px solid;
}

.FROM{
  height: 350px;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  border: #716a42 4px solid;

}

.LABEL{
  height: 350px;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  border: #716a42 4px solid;

}

.LABEL-foto{
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
.RUN{
  height: 350px;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  border: #716a42 4px solid;
}

.RUN-foto{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.CMD{
  height: 350px;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  border: #716a42 4px solid;
}

.CMD-foto{
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.ENTRYPOINT{
  height: 350px;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  border: #716a42 4px solid;
}

.ENTRYPOINT-foto{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.ADD{
  height: 350px;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  border: #716a42 4px solid;
}

.COPY{
  height: 350px;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  border: #716a42 4px solid;
}

.WORKDIR{
  height: 350px;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  border: #716a42 4px solid;
}
h2{
    font-family: 'Share Tech', sans-serif;
    margin-top: 3%;
    color:black;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
p{
    font-family: 'Share Tech', sans-serif;
    margin-top: 2%;
    color:black;
    margin-left: 75px;
    margin-right: 75px;
    align: center;
    text-align:justify;
    font-size: 20px;
    background: none;
    padding: 0px;
}
body
{
    background: #FFEFBA;
    /*
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);

    /*background-color: #42C2FF;

    background: url("../images/cv.jpg") no-repeat center fixed;
    background-size: cover;*/

}
.b-1{
  grid-column: 1/2;
  background-color:none;

}
.b-2{
  grid-column: 3/4;
  background-color:none;
}
