*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/*
nav.t{
    background: #2fcdcd;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;


nav ul.t{
    float: right;
    margin-right: 200px;
}
nav ul li.t{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
*/
header{
  font-family: 'Share Tech', sans-serif;
  width: 100%;
  height: 150px;
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(161, 61%, 46%, 0.616), hsla(261, 45%, 57%, 0.616)), url(../public/img/logo.jpeg);
  background: linear-gradient(to right, hsla(161, 61%, 46%, 0.616), hsla(261, 45%, 57%, 0.616)), url(../public/img/logo.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  border-radius: 10px;
}

header .textos-header{
  padding-top: 38px;
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  text-align: center;


}

.textos-header h1{
    font-size: 50px;
    color: #fff;

}


.wave{
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 10px;
}
h2{
  font-family: 'Share Tech', sans-serif;
  margin-top: 3%;
  color:black;
  text-align: center;
  font-size: 32px;
  font-weight: bold;

}
h6{
  margin-top: 3%;
  margin-left: 12%;
  color:black;
  text-align: justify;
  font-size: 20px;
  font-weight: bold;
}
p{
  font-family: 'Share Tech', sans-serif;
  margin-top: 2%;
  color:black;
  margin-left: 75px;
  margin-right: 75px;
  align: center;
  text-align:justify;
  font-size: 20px;
  background: none;

}

img{
    border-radius: 10px;
    align:center;
}

body
{
  background: #FFEFBA;
  /*
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
  background: linear-gradient(to right, #FFFFFF, #FFEFBA);

  /*background-color: #42C2FF;

  background: url("../images/cv.jpg") no-repeat center fixed;
  background-size: cover;*/

}

.grid-layout
{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-row-gap: 18px;
  grid-column-gap: 18px;


  width: 100%;
  height: 100%;
  margin: 0 auto;


  border-radius: 5px;


}

.box-header{
  grid-column: 1/4;
  background-color: none;

}

.box-contenido{
  grid-column: 1/2;
  grid-row: 2/3;
  background: white;
  border-radius: 10px;
}

.box-beneficios{
  grid-column: 3/4;
  background: white;
  border-radius: 10px;
}

.box-contenedor{
  grid-column: 1/4;
  background: white;
  border-radius: 10px
}
.box-contenedor h6{
  margin-left: 6%;
}
.b-1{
  grid-column: 1/2;
  background-color: none;
  margin-left: 30%
}
.b-2{
  grid-column: 3/4;
  background-color:none;
  margin-left: 45%;

}


/*
li.t a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px ;
    text-transform: uppercase;
}


li a.active, li a:hover{
    background: #000090;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

section{
    background: url(img/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center ;
    height: calc(100vh - 80 px);
}


@media (max-width: 1000px){
    .enlace{
        padding-left: 200px;
    }
    nav ul li a{font-size: 160px;
    }
}

@media (max-width: 850px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
} */
