{
  margin: 0;
  padding: 0;
}
/*
html{
  font-size: 62.5%;
}
*/
body{
    background-color: #ffa9ba;
}
.container{
  width: 100%;
  height: 100vh;
  font-family: 'Share Tech', sans-serif;

  min-width: 1200px;
  position: relative;

}
/*
.logo{
  font-weight: 600;
  font-size: 3.8rem;
}

nav{
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul li{
  display: inline-block;
  list-style: none;
  padding: 6px 20px;
  font-weight: 500;
  font-size: 1.7rem;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
ul li:hover{
  background-color: #ff4321;
  border-radius: 25px;
  text-decoration: none;
}*/
header{
 position: absolute;
 bottom: 30%;
 padding: 0 50px;
}
h1{
  padding-top: 90px;
  font-size: 6rem;
  line-height: normal;
  letter-spacing: -5px;
  font-weight:bold;
}
h2{
  font-size: 4rem;
  letter-spacing: -2px;
  font-weight:bold;
}
p{
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;

  font-weight:bold;
}
.boton{
  padding: 12px;
  width: 140px;
  height: 40px;
  border: 0;
  outline: none;
  color: red;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: #ff4321;
  border-radius: 25px;
  transition: width 0.5s;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-decoration-color: none;

}
.boton span{
  position: relative;
  z-index: 2;
  transition: .3s ease all;
  color: black;
  text-decoration-color: none;
  text-decoration: none;
}
.boton img{
  display: none;
}
.boton:hover img{
  display: block;
}
.boton:hover{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  text-decoration-color: none;
}

.container .emp{
  position: absolute;
  width: 450px;   /*height: 600px;*/
  top: 150px;
  right: 7%;
  bottom: 0;
  z-index: 999;
}
.container .fondo-emp{
  position: absolute;
  height: 500px;
  width: 500px;
  top: 100px;
  right: 4%;
  bottom: 0;
}
.icons{
  position: absolute
  bottom: 100%;
  padding-top: 150px;
}
.icons img{
  font-size: 2.5rem;
  padding: 0 10px;
  cursor: pointer;
}
.icons img:hover{
  color: #ff4321;
  transition: all 0.3s ease 0s;
}
